#!/bin/sh

DBEAVER_PATH="/var/home/alegian/.local/share/DBeaverData/workspace6/General/.dbeaver/data-sources.json"
mkdir -p "$(dirname "$DBEAVER_PATH")"
cp ~/.config/dbeaver/data-sources.json $DBEAVER_PATH

if [ ! -x "$HOME/.bun/bin/bun" ]; then
  curl -fsSL https://bun.sh/install | bash
fi

if [ ! -s "$HOME/.nvm/nvm.sh" ]; then
  curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.4/install.sh | PROFILE=/dev/null bash
  source ~/.bashrc
  nvm install --lts
  nvm use --lts
fi
