#!/bin/sh

xargs flatpak install -y < ~/.local/share/chezmoi/private_dot_config/flatpaks.txt

KEY_PATH="$HOME/.config/age/chezmoi-key.txt"

if [ ! -f "$KEY_PATH" ]; then
    mkdir -p "$(dirname "$KEY_PATH")"
    
    pass-cli login
    pass-cli item view "pass://Personal/Chezmoi/note" > "$KEY_PATH"
    
    chmod 600 "$KEY_PATH"
fi
