* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: #B19CD9;
}

button {
  margin: 128px 16px;
  border-radius: 16px;
	text-decoration-color: #B19CD9;
  color: #B19CD9;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  font-size: 32px;
}

button:focus, button:active, button:hover {
	outline-style: none;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
  margin-left: 192px;
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  margin-right: 192px;
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
